.article {
  width: 941px;
  height: 140px;
  background-color: white;
  margin: 0 auto;
  list-style: none;
  padding: 15px 14px 0 19px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
  margin-bottom: 26px;

  overflow: hidden;
}

.pagination {
  width: 400px;
  margin: 0 auto;
  padding-left: 50px;
  padding-bottom: 20px;
}

.header,
.profile-name {
  display: flex;
}

.title {
  flex-grow: 1;
  padding-right: 20px;
}

.profile {
  display: flex;
  flex-shrink: 0;
}

.profile-name {
  flex-wrap: wrap;
  flex-direction: column;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.tag-item {
  width: 300px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px 8px 12px;
  display: block;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 18px;
}

.button-tag {
  cursor: pointer;
  margin-right: 18px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  border-radius: 4px;
  padding: 8px 36px;
}

.delete {
  border: 1px solid #f5222d;
  color: #f5222d;
}

.add {
  border: 1px solid #1890ff;
  color: #1890ff;
}

.add-tag-input {
  width: 300px;
  margin-right: 18px;
}

.article-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
}

.full-size {
  height: 100%;
  padding-bottom: 20px;
}

.label-like {
  font-size: 15px;
  line-height: 22px;
  align-self: center;
  padding-left: 10px;
}

.like-count {
  padding-left: 5px;
}

.title-text {
  display: flex;
}

.date {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  margin-left: 12px;
}

.tags {
  padding-top: 5px;
  padding-bottom: 5px;
}
.tag {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 2px;
  margin-right: 8px;
}

.text-in-article,
.tags-inArticle {
  color: rgba(0, 0, 0, 0.5);
}

.button-article {
  position: absolute;
  font-size: 14px;
  line-height: 22px;
  background-color: white;
  border: 1px solid #f5222d;
  border-radius: 5px;
  padding: 6px 17px;
  margin-right: 12px;
  cursor: pointer;
}

.edit {
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
  top: 90px;
  right: 1px;
}

.delete-article {
  right: 80px;
  top: 90px;
}

.content-article {
  width: 740px;
}
